*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("./component/image/casino-slots.jpg");
  background-size: cover;
  /*background-position: center;*/
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

